boto3==1.7.42
botocore==1.10.42
docutils==0.14
functools32==3.2.3.post2
futures==3.2.0
jmespath==0.9.3
jsondiff==1.1.2
jsonmerge==1.5.1
jsonschema==2.6.0
-e git://github.com/fernandosure/nysa-aws.git@b5d59153a4bf209d571986843a9ce812c73e596a#egg=nysa_aws
python-dateutil==2.7.3
s3transfer==0.1.13
six==1.11.0
